<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQB5ZifO5n6SFamhitWa67ZYFHXg_PgCA</string>
	<key>GCM_SENDER_ID</key>
	<string>1002372398712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ggangsGym</string>
	<key>PROJECT_ID</key>
	<string>ggangs-gym</string>
	<key>STORAGE_BUCKET</key>
	<string>ggangs-gym.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002372398712:ios:77d3502243f3d05022778d</string>
</dict>
</plist>